.showStage{
    display:flex;
    flex-direction:row;
    margin: auto;
    width: 90%;
    text-align: center;
}

.showStage .bar{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 2.5%;
}
.showStage .bar .item{
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-top: 3px;
}
#showcase_bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 2;
    top: 0;
    display: none;
}
#showcase{
    position: absolute;
    width:auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 12.5%;
    background-color: white;
    z-index: 3;
    top: 0;
    display: none;
}
/*并列排序指导：https://blog.csdn.net/weixin_44185143/article/details/110210131*/