#imgshower{
    display: block;
    width: 384px;
    height: 216px;
    margin: auto;
    margin-top: 1%;
    overflow: hidden;
    background-color: #547ce8;
}
.imgbox img{
    width: 384px;
    height: 216px;
}   
.imgbox{
    width: 1152px;
    height: 216px;
    margin: auto;
    animation:text 10s infinite  linear;
    font-size: 0px;
}
@keyframes text {          /*0%-20%是播放下一个图片，0%-10%是图片暂停的时间*/
    0%,25%{
        margin-left:0px;
    }
    35%,60%{
        margin-left:-384px;
    }
    70%,95%{
        margin-left:-768px;
    }
}
#article{
    position: absolute;
    display: block;
    width: 95%;
    height: max-content;
    margin: auto;
    margin-left: 2.5%;
    margin-top: 32px;
    background-color: #93b5cf;
}

#article .item{
    display: block;
    background-color: #619ac3;
    width: 300px;
    height: 150px;
    margin: auto;
    margin-top: 1%;
    margin-left: 2%;
    margin-bottom: 1%;
    float: left;
}
#article .item .avatar{
    display: block;
    border-radius: 4px;
    height: 64px;
    width: 64px;
    margin-bottom: 4px;
    margin-left: 8px;
}