body
{
    position:absolute;
    width: 96%;
    margin: auto;
    background-color: #93d5dc;
}

.HeadLine
{
    text-align:center;
}

#header
{
    position: relative;
    background-color: #57c3c2;
    border-radius:6px;
    display: block;
    width:95%;
    height: 64px;
    margin: auto;
    margin-top: 4px;
}

#mylogo
{
    display: block;
    float: left;
    width: 308px;
    height: 60px;
    margin-left: 0;
    margin-top: 2px;
}

#top_menu
{
    display: block;
    width: 900px;
    height: 60px;
    margin-left: 30%;
    margin-top: 2px;
}

#top_menu .top_menu_item
{
    display: block;
    width: 164px;
    height: 56px;
    margin-left: 13px;
    margin-top: 2px;
    float: left;
}

#top_menu .top_menu_item a
{
    border-radius: 16px;
    display: block;
    background-color: #29b7cb;
    color:#cef1f0;
    width: 148px;
    font-family:'Courier New', Courier, monospace;
    height: 36px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 12px;
    font-weight: bold;
    font-size:x-large;
    transition: width 1s,height 1s;
}

#top_menu .top_menu_item a:hover{
    width: 156px;
    height: 48px;
    margin-top: 4px;
    font-size: xx-large;
}
#imgshower{
    display: block;
    width: 384px;
    height: 216px;
    margin: auto;
    margin-top: 1%;
    overflow: hidden;
    background-color: #547ce8;
}
.imgbox img{
    width: 384px;
    height: 216px;
}   
.imgbox{
    width: 1152px;
    height: 216px;
    margin: auto;
    animation:text 10s infinite  linear;
    font-size: 0px;
}
@keyframes text {          /*0%-20%是播放下一个图片，0%-10%是图片暂停的时间*/
    0%,25%{
        margin-left:0px;
    }
    35%,60%{
        margin-left:-384px;
    }
    70%,95%{
        margin-left:-768px;
    }
}
#article{
    position: absolute;
    display: block;
    width: 95%;
    height: max-content;
    margin: auto;
    margin-left: 2.5%;
    margin-top: 32px;
    background-color: #93b5cf;
}

#article .item{
    display: block;
    background-color: #619ac3;
    width: 256px;
    height: 128px;
    margin: auto;
    margin-top: 1%;
    margin-left: 1.5%;
    margin-bottom: 1%;
    float: left;
}
#article .item .avatar{
    display: block;
    border-radius: 4px;
    height: 64px;
    width: 64px;
    margin-bottom: 4px;
    margin-left: 8px;
}